:root {
    --color-primario: #385de4;
    --color-secundario: #5b73ed;
    --color-terciario: #7f8af6;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100vh;
}

header{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario);
    height: 100px;
    font-size: 2rem;

}

.main{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

img{
    display: block;
    border: 2px red solid
}

.section-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    box-shadow: var(--color-terciario) 0px 2px 4px -1px;
}